/* Add this to your existing CSS or create a new CSS file for modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #495e57; /* Match the background color of your BookingPage */
  padding: 20px;
  border-radius: 8px;
  max-width: 850px; /* Adjust the width as needed */
  max-height: 400px;
  width: 100%;
  position: relative;
  border: 10px solid #F4CE14; /* Add a thick yellow outline */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Additional styles for the content inside the modal, adjust as needed */
.modal-content h2 {
  color: #000;
}

.modal-content p {
  color: #EDEFEE;
}
.reservation-form{
  display: flex;
  justify-content: center;
}

.additional-details{
  justify-content: center;
}


.action-button {
  background-color: #F4CE14;
  color: black;
  padding: 14px 18px;
  border: none;
  text-decoration: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}


